@{
    ViewBag.Title = "About";
}
<h2>About Us!</h2>

<p>Welcome to CompanyEvent! CompanyEvent is a web app for companies to post what is happening around the office. 
    Whether than means a mandatory business meeting or an optional pitch in, companies can keep their employees up to date with what is going on. 
    In CompanyEvent you can create new events with a Title, an Overview of the event, the Location, and lastly the Date and Time. 
    If you make a mistake when making an event or the event gets canceled that isn't a problem in CompanyEvent.
    Events can easily be edited and deleted thanks to CompanyEvent's CRUD factor! So get started and keep your employees up to date!</p>
