@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CompanyEvent!</h1>
    <p class="lead">Get started today and start planning events in your company!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            To get started all you have to do is create an account! Click the Register button in the top right corner.
            It's really that easy!
        </p>
    </div>
    <div class="col-md-6">
        <h2>Info</h2>
        <p>CompanyEvent was created by Gavin Williams in order to keep employees on track and up to date in the company they work for. 
        For detailed information click the About tab.</p>
    </div>
</div>